<mat-sidenav-container fxFlex="1 1 auto">
  <mat-sidenav #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" class="sidenav" opened>
    <h4 mat-subheader>Kategorie:</h4>
    <mat-nav-list>
      <a *ngFor="let category of categories" [routerLink]="['/categories', category.name]"
         [state]="{ data: {category: category}}" mat-list-item
         routerLinkActive="active">{{category.name}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
