@import './../../../../mixins.scss';

.app-header {
  font-size: 12px;
  line-height: normal;
  padding: 0;

  &.mat-toolbar-single-row {
    height: auto;
  }

  .phone-hidden {
    @include for-phone-only() {
      display: none;
    }
  }

  .header-btns {
    display: flex;
    flex-flow: row-reverse wrap;
    flex-grow: 1;
  }
}

.mat-icon {
  font-size: unset;
  height: unset;
  width: unset;

  @include for-phone-only() {
    font-size: 24px;
  }
}

.mat-button {
  font-size: 12px;
}

.mat-button {
  padding: 10px;
}

.contact-link {
  line-height: unset;
  padding: 0;
}

.full-height {
  height: 100%;
}

.mat-divider-vertical {
  border-right-color: white;
}

.padding {
  padding: 0 10px;
}
