.app-header {
  font-size: 12px;
  line-height: normal;
}

.with-icon {
  padding-left: 10px;
  padding-right: 10px;
}

.mat-icon {
  font-size: unset;
  height: unset;
  width: unset;
  padding-right: 3px;
}
