<mat-toolbar class="mat-primary app-header" fxLayout="row" fxLayoutAlign="space-between center">
  <a class="padding" routerLink="/">
    <img alt="Photo piggy logo" height="50" src="../../../../assets/logo_with_title.png">
  </a>
  <div class="padding full-height" fxLayout="column" fxLayoutAlign="space-evenly start">
    <span>Skontaktuj się z nami</span>
    <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
      <a class="contact-link" href="tel:+48600123456" mat-button>
        <mat-icon class="mat-icon">phone</mat-icon>
        +48 600 123 456
      </a>
      <mat-divider [vertical]="true"></mat-divider>
      <a class="contact-link" href="mailto:photopiggy@gmail.com" mat-button>
        <mat-icon class="mat-icon">mail</mat-icon>
        photopiggy@gmail.com
      </a>
    </div>
    <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
      <span>pn-pt 8:00-18:00</span>
      <mat-divider [vertical]="true"></mat-divider>
      <span>sb-nd 10:00-16:00</span>
    </div>
  </div>
  <mat-form-field class="padding" fxLayoutAlign="end center">
    <mat-icon matPrefix>search</mat-icon>
    <input class="search-input" matInput placeholder="Szukaj..." type="search">
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div *ngIf="!isAuthenticated()" fxLayoutAlign="center">
      <a mat-button routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        Twój koszyk
      </a>
    </div>
    <div *ngIf="!isAuthenticated()" fxLayoutAlign="center">
      <a mat-button routerLink="/login">
        <mat-icon>person</mat-icon>
        Zaloguj się
      </a>
    </div>
    <div *ngIf="!isAuthenticated()" fxLayoutAlign="center">
      <a mat-button routerLink="/register">
        <mat-icon>person_add</mat-icon>
        Zarejestruj się
      </a>
    </div>
    <div *ngIf="isAuthenticated()" fxLayoutAlign="center">
      <a (click)="logout()" mat-button routerLink="/home">
        <mat-icon>exit_to_app</mat-icon>
        Wyloguj się
      </a>
    </div>
  </div>
</mat-toolbar>
