.app-footer {
  font-size: 12px;
  line-height: normal;
}

.with-icon {
  padding-left: 5px;
  padding-right: 5px;
}

.mat-icon {
  font-size: unset;
  height: unset;
  width: unset;
  padding-right: 3px;
}

