<mat-toolbar class="app-footer" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    Foto Pig 2019. Wszelkie prawa zastrzeżone
  </div>
  <div fxLayout="column">
    <span>Dział obsługi klienta</span>
    <div fxLayoutAlign="start">
      <mat-icon class="mat-icon">phone</mat-icon>
      +48 600 123 456
    </div>
    <span>pn-pt 8:00-18:00 | sb-nd 10:00-16:00</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span>Znajdź nas</span>
    <div class="with-icon" fxLayoutAlign="center">
      <fa-icon [icon]="facebook" size="2x"></fa-icon>
    </div>
    <div class="with-icon" fxLayoutAlign="center">
      <fa-icon [icon]="twitter" size="2x"></fa-icon>
    </div>
    <div class="with-icon" fxLayoutAlign="center">
      <fa-icon [icon]="instagram" size="2x"></fa-icon>
    </div>
    <div class="with-icon" fxLayoutAlign="center">
      <fa-icon [icon]="youtube" size="2x"></fa-icon>
    </div>
  </div>
</mat-toolbar>
