.app-footer {
  font-size: 12px;
  line-height: normal;
}

.mat-icon {
  font-size: unset;
  height: unset;
  width: unset;
  padding-right: 3px;
}

.mat-button {
  font-size: 12px;
}

.contact-link {
  line-height: unset;
  padding: 0;
}

.full-height {
  height: 100%;
}

.mat-divider-vertical {
  border-right-color: white;
}
