<mat-toolbar class="mat-primary app-footer" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    Foto Piggy {{currentYear}}. Wszelkie prawa zastrzeżone
  </div>
  <div class="full-height" fxLayout="column" fxLayoutAlign="space-evenly start">
    <span>Dział obsługi klienta</span>
    <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
      <a class="contact-link" href="tel:+48600123456" mat-button>
        <mat-icon class="mat-icon">phone</mat-icon>
        +48 600 123 456
      </a>
      <mat-divider [vertical]="true"></mat-divider>
      <a class="contact-link" href="mailto:photopiggy@gmail.com" mat-button>
        <mat-icon class="mat-icon">mail</mat-icon>
        photopiggy@gmail.com
      </a>
    </div>
    <div fxLayoutAlign="start stretch" fxLayoutGap="8px">
      <span>pn-pt 8:00-18:00</span>
      <mat-divider [vertical]="true"></mat-divider>
      <span>sb-nd 10:00-16:00</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span>Znajdź nas na:</span>
    <button aria-label="Znajdź nas na Facebooku" mat-icon-button>
      <fa-icon [icon]="facebook" fxLayoutAlign="center center" size="2x"></fa-icon>
    </button>
    <button aria-label="Znajdź nas na Twiterze" mat-icon-button>
      <fa-icon [icon]="twitter" fxLayoutAlign="center center" size="2x"></fa-icon>
    </button>
    <button aria-label="Znajdź nas na Instagramie" mat-icon-button>
      <fa-icon [icon]="instagram" fxLayoutAlign="center center" size="2x"></fa-icon>
    </button>
    <button aria-label="Znajdź nas na YouTube" mat-icon-button>
      <fa-icon [icon]="youtube" fxLayoutAlign="center center" size="2x"></fa-icon>
    </button>
  </div>
</mat-toolbar>
