<mat-horizontal-stepper #stepper linear="true">
  <mat-step>
    <form>
      <ng-template matStepLabel>Twój koszyk</ng-template>
      <mat-card>
        <mat-card-title>Twój koszyk</mat-card-title>
        <mat-card-content>
          <div class="mat-elevation-z8 full-width">
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Produkt</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a class="product-link" [routerLink]="['/products', element._id]">{{element.title}}</a>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="salePriceGross">
                <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.salePriceGross | currency:'PLN'}}</mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Ilość</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button>
                    <mat-icon (click)="decreaseQuantity(element)">remove</mat-icon>
                  </button>
                  <span>{{element.orderQuantity}}</span>
                  <button mat-icon-button>
                    <mat-icon (click)="increaseQuantity(element)">add</mat-icon>
                  </button>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="totalPriceGross">
                <mat-header-cell *matHeaderCellDef>Razem</mat-header-cell>
                <mat-cell
                  *matCellDef="let element">{{element.salePriceGross * element.orderQuantity | currency:'PLN'}}</mat-cell>
                <mat-footer-cell *matFooterCellDef>
                  <strong>RAZEM: {{getTotalCost() | currency:'PLN'}}</strong>
                </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
            </mat-table>
          </div>
        </mat-card-content>
        <mat-card-footer fxLayoutAlign="end center">
          <button [disabled]="cartProducts.length === 0" color="primary" class="step-btn" mat-raised-button matStepperNext>Dalej</button>
        </mat-card-footer>
      </mat-card>
    </form>
  </mat-step>
  <mat-step *ngIf="!isAuthenticated">
    <form>
      <ng-template matStepLabel>Logowanie</ng-template>
      <div>
        <button mat-raised-button matStepperPrevious>Wróć</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Dostawa</ng-template>
      <mat-card *ngFor="let shipping of shippings">
        {{getShippingMethod(shipping.method)}}
      </mat-card>
      <div>
        <button mat-raised-button matStepperPrevious>Wróć</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Płatność</ng-template>
      <mat-card *ngFor="let payment of payments">
        {{getPaymentMethod(payment)}}
      </mat-card>
      <div>
        <button mat-raised-button matStepperPrevious>Wróć</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Dane do wysyłki</ng-template>
      <div>
        <button mat-raised-button matStepperPrevious>Wróć</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Podsumowanie</ng-template>
      <div>
        <button mat-raised-button matStepperPrevious>Wróć</button>
        <button mat-raised-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Potwierdzenie</ng-template>
    You are now done.
    <div>
      <button mat-raised-button matStepperPrevious>Wróć</button>
      <button (click)="stepper.reset()" mat-raised-button>Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
