.mat-column-title {
  flex: 0 0 50%;
}

.mat-column-salePriceGross {
  flex: 0 0 15%;
}

.mat-column-quantity {
  flex: 0 0 15%;
}

.mat-column-totalPriceGross {
  flex: 0 0 15%;
}

mat-table {
  overflow: auto;
}

.mat-row, .mat-header-row, .mat-footer-row {
  min-width: 599px;
  width: 100%;
}

.mat-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  font-size: 12px;
}

.step-btn {
  margin: 10px;
}

.product-link {
  text-decoration: unset;
  color: unset;
}

.confirmation-content {
  height: 150px;
  font-size: 16px;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.auto-height {
  height: auto;
}

.summary-list {
  margin-top: 15px;

  ::ng-deep .mat-list-item-content {
    align-items: start !important;
  }
}

.mat-list-item-header {
  margin-right: 10px;
}
