.mat-column-title {
  flex: 0 0 50%;
}

.mat-column-salePriceGross {
  flex: 0 0 15%;
}

.mat-column-quantity {
  flex: 0 0 15%;
}

.mat-column-totalPriceGross {
  flex: 0 0 15%;
}

mat-table {
  overflow: auto;
}

.mat-row, .mat-header-row {
  min-width: 1280px;
  width: 100%;
}

.mat-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  font-size: 12px;
}

.step-btn {
  margin: 10px;
}

.product-link {
  text-decoration: unset;
  color: unset;
}
