<mat-horizontal-stepper #stepper labelPosition="bottom" linear="true">
  <!--  1. step -->
  <mat-step>
    <ng-template matStepLabel>Twój koszyk</ng-template>
    <mat-card>
      <mat-card-title>Twój koszyk</mat-card-title>
      <mat-card-content>
        <div class="mat-elevation-z8 full-width">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Produkt</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="['/products', element._id]" class="product-link">{{element.title}}</a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="salePriceGross">
              <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.salePriceGross | currency:'PLN'}}</mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef>Ilość</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="decreaseQuantity(element)" mat-icon-button matTooltip="Zmniejsz ilość sztuk produktu">
                  <mat-icon>remove</mat-icon>
                </button>
                <span>{{element.orderQuantity}}</span>
                <button (click)="increaseQuantity(element)" mat-icon-button matTooltip="Zwiększ ilość sztuk produktu">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="totalPriceGross">
              <mat-header-cell *matHeaderCellDef>Razem</mat-header-cell>
              <mat-cell
                *matCellDef="let element">
                <span>{{element.salePriceGross * element.orderQuantity | currency:'PLN'}}</span>
                <button (click)="deleteProductFromCart(element._id)" mat-icon-button
                        matTooltip="Usuń produkt z koszyka">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                <strong>RAZEM: {{getTotalCost() | currency:'PLN'}}</strong>
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>
        </div>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button [disabled]="cartProducts.length === 0" class="step-btn" color="primary" mat-raised-button
                matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  2. step -->
  <mat-step *ngIf="!isAuthenticated">
    <ng-template matStepLabel>Logowanie</ng-template>
    <mat-card>
      <mat-card-title>Logowanie</mat-card-title>
      <mat-card-content fxLayoutAlign="center center">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }" formControlName="email"
                   id="email" matInput name="email" placeholder="E-mail" type="email">
            <mat-error *ngIf="submitted && loginForm.controls.email.errors?.required">E-mail jest wymagany</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
                   formControlName="password" id="password" matInput name="password" placeholder="Hasło"
                   type="password">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">Hasło jest wymagane</mat-error>
          </mat-form-field>

          <mat-card *ngIf="error" class="error">{{error}}</mat-card>

          <div fxLayoutAlign="center center">
            <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
            <mat-spinner *ngIf="loading" color="accent" diameter="25"></mat-spinner>
            <button [disabled]="loading" color="primary" mat-raised-button type="submit">
              Zaloguj
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <!--  3. step -->
  <mat-step>
    <ng-template matStepLabel>Dostawa</ng-template>
    <mat-card>
      <mat-card-title>Wybierz sposób dostawy lub odbioru</mat-card-title>
      <mat-card-content>
        <mat-selection-list #shippingList [(ngModel)]="selectedShipping">
          <mat-list-option *ngFor="let shipping of shippings" [value]="shipping._id" checkboxPosition="before"
                           color="primary">
            {{getShippingMethod(shipping.method)}} ({{shipping.price | currency:'PLN'}})
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
        <button [disabled]="!selectedShipping" class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  4. step -->
  <mat-step>
    <ng-template matStepLabel>Płatność</ng-template>
    <mat-card>
      <mat-card-title>Wybierz sposób płatności</mat-card-title>
      <mat-card-content>
        <mat-selection-list #paymentList [(ngModel)]="selectedPayment">
          <mat-list-option *ngFor="let payment of payments" [value]="payment" checkboxPosition="before" color="primary">
            {{getPaymentMethod(payment)}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
        <button [disabled]="!selectedPayment" class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  5. step -->
  <mat-step>
    <ng-template matStepLabel>Dane do wysyłki</ng-template>
    <mat-card>
      <mat-card-title>Wpisz swoje dane do wysyłki</mat-card-title>
      <mat-card-content fxLayoutAlign="center center">
        <form [formGroup]="shipmentForm">
          <mat-form-field>
            <mat-label>Imię</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.name.errors }" formControlName="name"
                   id="name" matInput name="name" placeholder="Imię" type="text">
            <mat-error *ngIf="shipmentForm.controls.name.errors?.required">Imię jest wymagane</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nazwisko</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.surname.errors }"
                   formControlName="surname" id="surname" matInput name="surname" placeholder="Nazwisko" type="text">
            <mat-error *ngIf="shipmentForm.controls.surname.errors?.required">Nazwisko jest wymagane</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ulica</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.street.errors }"
                   formControlName="street" id="street" matInput name="street" placeholder="Ulica" type="text">
            <mat-error *ngIf="shipmentForm.controls.street.errors?.required">Ulica jest wymagana</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Kod pocztowy</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.postalCode.errors }"
                   formControlName="postalCode" id="postalCode" matInput name="postalCode" placeholder="Kod pocztowy"
                   type="text">
            <mat-error *ngIf="shipmentForm.controls.postalCode.errors?.required">Kod pocztowy jest wymagany</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Miejscowość</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.city.errors }"
                   formControlName="city" id="city" matInput name="city" placeholder="Miejscowość" type="text">
            <mat-error *ngIf="shipmentForm.controls.city.errors?.required">Miejscowość jest wymagana</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Numer telefonu</mat-label>
            <input [ngClass]="{ 'is-invalid': shipmentForm.controls.phone.errors }"
                   formControlName="phone" id="phone" matInput name="phone" placeholder="Numer telefonu" type="text">
            <mat-error *ngIf="shipmentForm.controls.phone.errors?.required">Numer telefonu jest wymagany</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dodatkowe informacje</mat-label>
            <textarea [ngClass]="{ 'is-invalid': shipmentForm.controls.additionalInformation.errors }"
                      formControlName="additionalInformation" id="additionalInformation" mat-autosize="true" matInput
                      maxlength="1024" name="additionalInformation"
                      placeholder="Wprowadź dodatkowe informacje..."></textarea>
          </mat-form-field>
          <div fxLayoutAlign="center center">
            <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
            <button [disabled]="isShipmentFormInvalid" class="step-btn" color="primary" mat-raised-button
                    matStepperNext>Dalej
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <!--  6. step -->
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <mat-card>
      <mat-card-title>Podsumowanie zamówienia</mat-card-title>
      <mat-card-subtitle>Poniżej możesz sprawdzić swoje zamówienie przed jego realizacją.</mat-card-subtitle>
      <mat-card-content>
        <div class="mat-elevation-z8 full-width">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Produkt</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="salePriceGross">
              <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.salePriceGross | currency:'PLN'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef>Ilość</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.orderQuantity}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalPriceGross">
              <mat-header-cell *matHeaderCellDef>Razem</mat-header-cell>
              <mat-cell
                *matCellDef="let element">{{element.salePriceGross * element.orderQuantity | currency:'PLN'}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <mat-list class="summary-list" role="list">
          <mat-list-item role="listitem">
            <span class="mat-list-item-header">Wartość zakupów</span>
            <span>{{getTotalCost() | currency:'PLN'}}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <span class="mat-list-item-header">Dostawa ({{getShippingMethod(getSelectedShippingMethod())}})</span>
            <span>{{getSelectedShippingPrice() | currency:'PLN'}}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <strong class="mat-list-item-header">Do zapłaty</strong>
            <strong>{{getTotalCost() + getSelectedShippingPrice() | currency:'PLN'}}</strong>
          </mat-list-item>
          <mat-list-item class="auto-height" role="listitem">
            <span class="mat-list-item-header">Dane do wysyłki</span>
            <div fxLayout="column">
              <span>{{shipmentForm.controls.name.value}} {{shipmentForm.controls.surname.value}}</span>
              <span>{{shipmentForm.controls.street.value}}</span>
              <span>{{shipmentForm.controls.postalCode.value}} {{shipmentForm.controls.city.value}}</span>
              <span>{{shipmentForm.controls.phone.value}}</span>
            </div>
          </mat-list-item>
          <mat-list-item class="auto-height" role="listitem">
            <span class="mat-list-item-header">Dodatkowe informacje</span>
            <span>{{shipmentForm.controls.additionalInformation.value}}</span>
          </mat-list-item>
        </mat-list>
        <mat-card *ngIf="errorMessage" class="error">{{errorMessage}}</mat-card>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
        <button (click)="order()" class="step-btn" color="primary" mat-raised-button>Kupuję i płacę</button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  7. step -->
  <mat-step>
    <ng-template matStepLabel>Potwierdzenie</ng-template>
    <mat-card>
      <mat-card-title>Potwierdzenie złożenia zamówienia</mat-card-title>
      <mat-card-content class="confirmation-content" fxLayout="column" fxLayoutAlign="space-evenly center">
        <span>Dziękujemy za złożenia zamówienie</span>
        <span>Numer zamówienia: <strong>{{orderId}}</strong></span>
        <span>Zapraszamy do skorzystania z naszych usług ponownie</span>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button [routerLink]="['/home']" class="step-btn" color="primary" mat-raised-button>Wróć do strony głównej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>
</mat-horizontal-stepper>
