<mat-horizontal-stepper #stepper labelPosition="bottom" linear="true">
  <!--  1. step -->
  <mat-step>
    <ng-template matStepLabel>Twój koszyk</ng-template>
    <mat-card>
      <mat-card-title>Twój koszyk</mat-card-title>
      <mat-card-content>
        <div class="mat-elevation-z8 full-width">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Produkt</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <a [routerLink]="['/products', element._id]" class="product-link">{{element.title}}</a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="salePriceGross">
              <mat-header-cell *matHeaderCellDef>Cena</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.salePriceGross | currency:'PLN'}}</mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef>Ilość</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button (click)="decreaseQuantity(element)" matTooltip="Zmniejsz ilość sztuk produktu" mat-icon-button>
                  <mat-icon>remove</mat-icon>
                </button>
                <span>{{element.orderQuantity}}</span>
                <button (click)="increaseQuantity(element)" matTooltip="Zwiększ ilość sztuk produktu" mat-icon-button>
                  <mat-icon>add</mat-icon>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="totalPriceGross">
              <mat-header-cell *matHeaderCellDef>Razem</mat-header-cell>
              <mat-cell
                *matCellDef="let element">
                <span>{{element.salePriceGross * element.orderQuantity | currency:'PLN'}}</span>
                <button matTooltip="Usuń produkt z koszyka" (click)="deleteProductFromCart(element._id)"
                        mat-icon-button>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                <strong>RAZEM: {{getTotalCost() | currency:'PLN'}}</strong>
              </mat-footer-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>
        </div>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button [disabled]="cartProducts.length === 0" class="step-btn" color="primary" mat-raised-button
                matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  2. step -->
  <mat-step *ngIf="!isAuthenticated">
    <ng-template matStepLabel>Logowanie</ng-template>
    <mat-card>
      <mat-card-title>Logowanie</mat-card-title>
      <mat-card-content fxLayoutAlign="center center">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }" formControlName="email"
                   id="email" matInput name="email" placeholder="E-mail" type="email">
            <mat-error *ngIf="submitted && loginForm.controls.email.errors?.required">E-mail jest wymagany</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }"
                   formControlName="password" id="password" matInput name="password" placeholder="Hasło"
                   type="password">
            <mat-error *ngIf="loginForm.controls.password.errors?.required">Hasło jest wymagane</mat-error>
          </mat-form-field>

          <p *ngIf="error" class="error full-width">
            {{ error }}
          </p>

          <div fxLayoutAlign="center center">
            <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
            <mat-spinner *ngIf="loading" color="accent" diameter="25"></mat-spinner>
            <button [disabled]="loading" color="primary" mat-raised-button type="submit">
              Zaloguj
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <!--  3. step -->
  <mat-step>
    <ng-template matStepLabel>Dostawa</ng-template>
    <mat-card>
      <mat-card-title>Wybierz sposób dostawy lub odbioru</mat-card-title>
      <mat-card-content>
        <mat-selection-list #shippingList [(ngModel)]="selectedShipping">
          <mat-list-option *ngFor="let shipping of shippings" [value]="shipping._id" checkboxPosition="before"
                           color="primary">
            {{getShippingMethod(shipping.method)}} ({{shipping.price | currency:'PLN'}})
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
        <button [disabled]="!selectedShipping" class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  4. step -->
  <mat-step>
    <ng-template matStepLabel>Płatność</ng-template>
    <mat-card>
      <mat-card-title>Wybierz sposób płatności</mat-card-title>
      <mat-card-content>
        <mat-selection-list #paymentList [(ngModel)]="selectedPayment">
          <mat-list-option *ngFor="let payment of payments" [value]="payment" checkboxPosition="before" color="primary">
            {{getPaymentMethod(payment)}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-footer fxLayoutAlign="center center">
        <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
        <button [disabled]="!selectedPayment" class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-step>

  <!--  5. step -->
  <mat-step>
    <ng-template matStepLabel>Dane do wysyłki</ng-template>
    <mat-card-footer fxLayoutAlign="center center">
      <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
      <button class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej</button>
    </mat-card-footer>
  </mat-step>

  <!--  6. step -->
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <mat-card-footer fxLayoutAlign="center center">
      <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
      <button class="step-btn" color="primary" mat-raised-button matStepperNext>Dalej</button>
    </mat-card-footer>
  </mat-step>

  <!--  7. step -->
  <mat-step>
    <ng-template matStepLabel>Potwierdzenie</ng-template>
    <mat-card-footer fxLayoutAlign="center center">
      <button class="step-btn" mat-raised-button matStepperPrevious>Wróć</button>
      <button (click)="stepper.reset()" mat-raised-button>Reset</button>
    </mat-card-footer>
  </mat-step>
</mat-horizontal-stepper>
