<mat-carousel
  [autoplay]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [loop]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  class="carousel"
  color="primary"
  fxLayoutAlign="center start"
  interval="5000"
  maxWidth="1000px"
  orientation="ltr"
  proportion="35"
  slides="8"
  timings="250ms ease-in"
>
  <mat-carousel-slide
    *ngFor="let slide of slides; let i = index"
    hideOverlay="false"
    image="assets/sliders/1920x675_{{i}}.jpg"
    overlayColor="#00000040"
  >
  </mat-carousel-slide>
</mat-carousel>

<div fxLayout.gt-xs="row wrap" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="space-around start"
     fxLayoutAlign.lt-sm="center center">
  <mat-card *ngFor="let category of categories" fxLayout="column" fxLayoutAlign="space-between center">
    <img alt="Zdjęcie kategorii {{category.name}}" mat-card-image
         src="../../../assets/categories/{{category.name}}.jpg">
    <mat-card-footer fxLayout="column" fxLayoutAlign="center center">
      <strong>{{category.name}}</strong> od {{15 | currency:'PLN'}}
      <a [queryParams]="{ id: category._id}" [routerLink]="['/categories', category.name]" mat-button>Sprawdź
        <mat-icon>double_arrow</mat-icon>
      </a>
    </mat-card-footer>
  </mat-card>
</div>
