<mat-carousel
  [autoplay]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [loop]="true"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  class="carousel"
  color="primary"
  fxLayoutAlign="center start"
  interval="5000"
  maxWidth="1000px"
  orientation="ltr"
  proportion="35"
  slides="8"
  timings="250ms ease-in"
>
  <mat-carousel-slide
    *ngFor="let slide of slides; let i = index"
    hideOverlay="false"
    image="assets/sliders/1920x675_{{i}}.jpg"
    overlayColor="#00000040"
  >
  </mat-carousel-slide>
</mat-carousel>

<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <mat-card *ngFor="let category of categories">
    <img alt="Zdjęcie kategorii {{category.name}}" mat-card-image
         src="../../../assets/categories/{{category.name}}.jpg">
    <mat-card-content>
      <p>
        <strong>{{category.name}}</strong> od 15,00zł
      </p>
    </mat-card-content>
  </mat-card>
</div>
