.category-container {
  margin: 16px;
}

.mat-card-subtitle, .mat-card-content {
  margin: 0;
}

.sort-by {
  width: 170px;
}


mat-card.product-card {
  width: 275px;
  height: 425px;
  margin: 15px;

  > mat-card-header {
    height: 80px;
  }

  > img {
    width: 100%;
    margin: 0;
  }

  > .product-card-content {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: large;
  font-weight: bold;
}
