<div class="product-container">
  <mat-card fxLayout="column">
    <div class="first-row" fxLayout.gt-sm="row" fxLayout.lt-md="column-reverse">
      <div class="product-carousel">
        <mat-carousel [autoplay]="true"
                      [hideArrows]="false"
                      [hideIndicators]="false"
                      [loop]="true"
                      [slides]="1"
                      [useKeyboard]="true"
                      [useMouseWheel]="false"
                      class="carousel"
                      color="primary"
                      fxLayoutAlign="center start"
                      interval="5000"
                      maxWidth="512px"
                      orientation="ltr"
                      proportion="100"
                      timings="250ms ease-in"
        >
          <mat-carousel-slide
            *ngFor="let image of images; let i = index"
            [image]="image.url"
            hideOverlay="false"
            overlayColor="#00000040"
          >
          </mat-carousel-slide>
        </mat-carousel>
      </div>
      <div fxLayout="column">
        <mat-card-title>{{product.title}}</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <star-rating [readonly]="isStarRatingReadonly" [value]="averageRate" checkedcolor="#F7B000" size="24px"
                       uncheckedcolor="black"></star-rating>
          <span>({{rates.length}})</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="price">{{product.salePriceGross | currency:'PLN'}}</span>
          <button (click)="addToCart(product)" [disabled]="isProductAddedToCart(product)"
                  aria-label="Dodaj produkt do koszyka" class="add-to-cart" color="primary" mat-raised-button>
            <mat-icon>add_shopping_cart</mat-icon>
            <span *ngIf="!isProductAddedToCart(product)">Dodaj do koszyka</span>
            <span *ngIf="isProductAddedToCart(product)">Dodano do koszyka</span>
          </button>
        </div>
      </div>
    </div>
    <div class="second-row" fxLayout="column">
      <h3>Opis produktu</h3>
      <p class="description">{{product.description}}</p>
    </div>
    <div class="third-row" fxLayout="column">
      <h3>Komentarze</h3>
      <div *ngIf="customerId">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label>Wybierz ocenę:</label>
          <star-rating (rate)="rateProduct($event)" [value]="getCurrentCustomerRateValue()" checkedcolor="#F7B000"
                       readonly="false" size="24px" uncheckedcolor="black"></star-rating>
        </div>
        <mat-form-field class="full-width">
          <textarea [(ngModel)]="feedback" mat-autosize="true" matInput maxlength="1024"
                    placeholder="Napisz komentarz..."></textarea>
          <mat-hint align="end">{{feedback.length}} / 1024</mat-hint>
        </mat-form-field>
        <button (click)="addComment()" aria-label="Dodaj komentarz"
                color="primary" mat-raised-button>
          <mat-icon>add_comment</mat-icon>
          <span *ngIf="!currentCustomerFeedback.value">Dodaj komentarz</span>
          <span *ngIf="currentCustomerFeedback.value">Zaktualizuj komentarz</span>
        </button>
      </div>
      <div *ngIf="!customerId">
        <span><a [queryParams]="{returnUrl: currentRoute}" routerLink="/login">Zaloguj się</a>, aby dodać opinię o produkcie</span>
      </div>
      <mat-card *ngFor="let feedback of feedbacks" class="comment-card">
        <mat-card-header>
          <mat-card-title>{{getFeedbackAuthor(feedback._id)}}</mat-card-title>
          <mat-card-subtitle>{{feedback.updatedAt | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{feedback.value}}</mat-card-content>
      </mat-card>
      <span *ngIf="feedbacks.length === 0" class="comment-card">Brak komentarzy!</span>
    </div>
  </mat-card>
</div>
