<div class="product-container">
  <mat-card fxLayout="column">
    <div class="first-row" fxLayout.lt-md="column-reverse" fxLayout.gt-sm="row">
      <div class="product-carousel">
        <mat-carousel [autoplay]="true"
                      [hideArrows]="false"
                      [hideIndicators]="false"
                      [loop]="true"
                      [slides]="1"
                      [useKeyboard]="true"
                      [useMouseWheel]="false"
                      class="carousel"
                      color="primary"
                      fxLayoutAlign="center start"
                      interval="5000"
                      maxWidth="512px"
                      orientation="ltr"
                      proportion="100"
                      timings="250ms ease-in"
        >
          <mat-carousel-slide
            *ngFor="let image of images; let i = index"
            [image]="image.url"
            hideOverlay="false"
            overlayColor="#00000040"
          >
          </mat-carousel-slide>
        </mat-carousel>
      </div>
      <div fxLayout="column">
        <mat-card-title>{{product.title}}</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <star-rating [value]="averageRate" checkedcolor="#F7B000" uncheckedcolor="black" size="24px"
                       [readonly]="isStarRatingReadonly"></star-rating>
          <span>({{rates.length}})</span>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start">
          <span class="price">{{product.salePriceGross | currency:'PLN'}}</span>
          <button (click)="addToCart(product)" [disabled]="isProductAddedToCart(product)"
                  aria-label="Dodaj produkt do koszyka" mat-raised-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
            <span *ngIf="!isProductAddedToCart(product)">Dodaj do koszyka</span>
            <span *ngIf="isProductAddedToCart(product)">Dodano do koszyka</span>
          </button>
        </div>
      </div>
    </div>
    <div class="second-row" fxLayout="column">
      <h3>Opis produktu</h3>
      <p class="description">{{product.description}}</p>
    </div>
    <div class="third-row" fxLayout="column">
      <h3>Komentarze</h3>
      <div *ngIf="customerId">
        <div fxLayout="row" fxLayoutAlign="start center">
          <label>Wybierz ocenę:</label>
          <star-rating [value]="0" checkedcolor="#F7B000" uncheckedcolor="black" size="24px" readonly="false"
                       (rate)="rateProduct($event)"></star-rating>
        </div>
        <mat-form-field class="full-width">
          <textarea [(ngModel)]="feedback" matInput placeholder="Napisz komentarz..."></textarea>
        </mat-form-field>
        <button (click)="addComment()" aria-label="Dodaj komentarz" mat-raised-button color="primary">
          <!--          <mat-icon>add_feedback</mat-icon>-->
          <span>Dodaj komentarz</span>
        </button>
      </div>
      <div *ngIf="!customerId">
        <span><a routerLink="/login" [queryParams]="{returnUrl: router.url}">Zaloguj się</a>, aby dodać opinię o produkcie</span>
      </div>
      <mat-card *ngFor="let feedback of feedbacks">
        <mat-card-header fxLayoutAlign="end start">{{feedback.createdAt | date:'medium'}}</mat-card-header>
        <mat-card-content class="added-comment">{{feedback.value}}</mat-card-content>
      </mat-card>
      <span *ngIf="feedbacks.length === 0">Brak komentarzy!</span>
    </div>
  </mat-card>
</div>
