<div class="registration-container">
  <mat-card>
    <mat-card-title fxLayoutAlign="center center">Rejestracja</mat-card-title>
    <mat-card-content fxLayoutAlign="center center">
      <form (ngSubmit)="register()" [formGroup]="registrationForm">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.email.errors }"
                 formControlName="email" id="email" matInput name="email" placeholder="E-mail">
          <mat-error *ngIf="registrationForm.controls.email.errors?.required">E-mail jest wymagany</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.password.errors }"
                 formControlName="password" id="password" matInput minlength="8" name="password" placeholder="Hasło"
                 type="password">
          <mat-error *ngIf="registrationForm.controls.password.errors?.required">Hasło jest wymagane</mat-error>
          <mat-error *ngIf="registrationForm.controls.password.errors?.minlength">
            Hasło jest zbyt krótkie (min. 8 znaków)
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.firstName.errors }"
                 formControlName="firstName" id="firstName" matInput name="firstName" placeholder="Imię">
          <mat-error *ngIf="registrationForm.controls.firstName.errors?.required">Imię jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.lastName.errors }"
                 formControlName="lastName" id="lastName" matInput name="lastName" placeholder="Nazwisko">
          <mat-error *ngIf="registrationForm.controls.lastName.errors?.required">Nazwisko jest wymagane</mat-error>
        </mat-form-field>
        <div>
          <label>Płeć</label>
          <mat-radio-group formControlName="gender" fxLayoutAlign="start center" fxLayoutGap="30px" id="gender"
                           name="gender">
            <mat-radio-button value="M">Mężczyzna</mat-radio-button>
            <mat-radio-button value="F">Kobieta</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-label>Data urodzenia</mat-label>
          <input [matDatepicker]="picker"
                 [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.dob.errors }"
                 formControlName="dob" id="dob" matInput name="dob" placeholder="Wybierz datę">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ulica</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.street.errors }"
                 formControlName="street" id="street" matInput name="street" placeholder="Adres">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kod pocztowy</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.postalCode.errors }"
                 formControlName="postalCode" id="postalCode" matInput name="postalCode" placeholder="Kod pocztowy">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Miejscowość</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.city.errors }"
                 formControlName="city" id="city" matInput name="city" placeholder="Miejscowość">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefon</mat-label>
          <input [ngClass]="{ 'is-invalid': submitted && registrationForm.controls.phone.errors }"
                 formControlName="phone" id="phone" matInput name="phone" placeholder="Telefon">
        </mat-form-field>

        <mat-card *ngIf="error" class="error">{{error}}</mat-card>

        <div fxLayoutAlign="center center">
          <mat-spinner *ngIf="loading" color="accent" diameter="25"></mat-spinner>
          <button [disabled]="loading" color="primary" mat-raised-button type="submit">
            Zarejstruj
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
