<div class="search-container">
  <mat-card>
    <mat-card-title fxLayoutAlign="start center">Wyniki wyszukiwania (<span class="search-query">"{{searchQuery}}"</span>)
    </mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start"
                       fxLayoutAlign.lt-sm="start start">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-form-field class="sort-by">
          <mat-select (selectionChange)="getProducts()" [(ngModel)]="selectedSortOption">
            <mat-option *ngFor="let option of sortOptions" [disabled]="option.disabled"
                        [value]="option.title">{{option.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayoutAlign="center center">
          <mat-form-field class="price-filter">
            <input [(ngModel)]="minPrice" (change)="getProducts()" matInput placeholder="Cena od...">
            <span matSuffix>zł</span>
          </mat-form-field>
          <mat-icon>remove</mat-icon>
          <mat-form-field class="price-filter">
            <input [(ngModel)]="maxPrice" (change)="getProducts()" matInput placeholder="Cena do...">
            <span matSuffix>zł</span>
          </mat-form-field>
        </div>
      </div>
      <mat-paginator (page)="changePage($event)"
                     [length]="products.total"
                     [pageSizeOptions]="[5, 10, 15, 25, 50, 100]"
                     [pageSize]="products.size"
                     fxHide.lt-sm="true"
                     showFirstLastButtons>
      </mat-paginator>
    </mat-card-subtitle>
    <mat-card-content fxLayout.gt-xs="row wrap" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="space-around start"
                      fxLayoutAlign.lt-sm="center center">
      <mat-card *ngFor="let product of products.collection" class="product-card" fxLayout="column"
                fxLayoutAlign="space-between center">
        <mat-card-header (click)="openProductPage(product)" class="pointer">
          <mat-card-title>{{product.title}}</mat-card-title>
        </mat-card-header>
        <img (click)="openProductPage(product)" *ngIf="product.imgUrl" [src]="product.imgUrl"
             alt="Zdjęcie produktu {{product.title}}" class="pointer" mat-card-image>
        <mat-card-content class="product-card-content" fxLayout="column" fxLayoutAlign="center space-between">
          <p class="truncate">
            {{product.description}}
          </p>
          <div fxLayoutAlign="start center">
            <star-rating [readonly]="isStarRatingReadonly" [value]="product.averageRate" checkedcolor="#F7B000"
                         size="24px" uncheckedcolor="black"></star-rating>
            <span>({{getRatesCount(product.rates)}})</span>
          </div>
          <div fxLayoutAlign="space-between center">
            <span class="price">{{product.salePriceGross | currency:'PLN'}}</span>
            <a (click)="addToCart(product)" [disabled]="isProductAddedToCart(product)"
               aria-label="Dodaj produkt do koszyka" mat-button>
              <mat-icon>add_shopping_cart</mat-icon>
              <span *ngIf="!isProductAddedToCart(product)">Dodaj do koszyka</span>
              <span *ngIf="isProductAddedToCart(product)">Dodano do koszyka</span>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <span *ngIf="isCollectionEmpty">Brak wyników!</span>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator (page)="changePage($event)"
                     [length]="products.total"
                     [pageSizeOptions]="[5, 10, 15, 25, 50, 100]"
                     [pageSize]="products.size"
                     showFirstLastButtons>
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
